<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f4f7f58f-ecd2-4fe6-81b0-369ada1e8f36" Publisher="CN=emre" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Emergency Services</DisplayName>
    <PublisherDisplayName>emre</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Emergency_Services.App">
      <VisualElements DisplayName="Emergency Services" Logo="Assets\help.png" SmallLogo="Assets\emergencySmall.png" Description="Emergency Services" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\emergency.png" BackgroundColor="blue" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>